{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<script src="{% static 'js/form.js' %}" defer type="module"></script>
{% endblock %}

{% block content %}


<div class="alert alert-danger d-flex align-items-center hidden" role="alert" style="visibility: hidden;">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
        <ul>
            <!-- {% for field in error %} -->
            <h1>{{error}}</h1>
            <!-- {% for error in field.errors %}
            <li>{{error}}</li>
            {% endfor %} -->
            <!-- {% endfor %} -->
        </ul>
    </div>
</div>


<div class="card w-75 mx-auto">
    <form action="." method="post" class="form">
        <div class="card header p-3 border-0 rounded-0">
            <h3 class="card-title">
                <i class="{{ class_icon }}"></i>
                {{title}}
            </h3>
        </div>
        <div class="card-body">
            <div id="example_wrapper" class="dataTables_wrapper">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="id_nombre">{{field.label}}: </label>
                    {{field|add_class:'form-control'|attr:'autocomplete:off' }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <button class="{{ class_color }} rounded-0" type="submit">
                <i class="{{ class_icon_save }}"></i>
                {{title}}
            </button>
        </div>
    </form>

    <script type="module">
        import { submit } from "{% static 'js/form.js' %}";
        const form = document.querySelector('.form');
        if ('{{action}}' === 'add') {
            form.addEventListener('submit', (e) => submit(e, '{% url "erp:category_form" %}', '{% url "erp:category_list" %}'));
        } else if ('{{action}}' === 'edit') {
            form.addEventListener('submit', (e) => submit(e, window.location.pathname, '{% url "erp:category_list" %}'));
        }
    </script>
</div>
{% endblock %}